[Desktop Entry]
Name=Calculator
Name[zh_CN]=计算器
Name[bo_CN]=རྩིས་ཆས།
GenericName[bo_CN]=རྩིས་ཆས།
GenericName=Calculator
Keywords=calculator
Exec=/usr/bin/kylin-calculator %u
Icon=kylin-calculator
Type=Application
Categories=Utility;Calculator;
